body {
  background: #000000;
  font-family: "Trebuchet", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: white;
  display: inline-block;
  margin: 5rem;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
}
