body {
  background: #000000;
  font-family: "Trebuchet", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: white;
  display: inline-block;
  margin: 5rem;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
}

#count-display {
  background-image: url("/assets/images/binos-in-box.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  display: none;
  font-family: sans-serif;
  font-size: 0.9rem;
  height: 1.5rem;
  left: 2rem;
  padding-left: 3rem;
  padding-top: 0.7rem;
  opacity: 0.8;
  top: 2rem;
  position: absolute;
  width: 10rem;
  z-index: 10;
}
